[submodule "3_semester/Конфигурационное управление/Shell_Emulator"]
	path = 3_semester/Конфигурационное управление/Shell_Emulator
	url = https://github.com/n1kpavlov/Shell_Emulator.git
[submodule "3_semester/Конфигурационное управление/dependency_visualizer"]
	path = 3_semester/Конфигурационное управление/dependency_visualizer
	url = https://github.com/n1kpavlov/dependency_visualizer.git
[submodule "3_semester/Конфигурационное управление/config_converter"]
	path = 3_semester/Конфигурационное управление/config_converter
	url = https://github.com/n1kpavlov/config_converter.git
[submodule "3_semester/Конфигурационное управление/assembler_and_interpreter"]
	path = 3_semester/Конфигурационное управление/assembler_and_interpreter
	url = https://github.com/n1kpavlov/assembler_and_interpreter.git
[submodule "4_semester/Технология разработки программных приложений/HabitNinja_Bot"]
	path = 4_semester/Технология разработки программных приложений/HabitNinja_Bot
	url = https://github.com/Rapira16/HabitNinja_Bot.git
[submodule "5_semester/Разработка приложений на языке Котлин/project/Finlytics"]
	path = 5_semester/Разработка приложений на языке Котлин/project/Finlytics
	url = https://github.com/Hohrandrey/Finlytics.git
