[submodule "3_semester/Конфигурационное управление/Shell_Emulator"]
	path = 3_semester/Конфигурационное управление/Shell_Emulator
	url = https://github.com/n1kpavlov/Shell_Emulator.git
[submodule "3_semester/Конфигурационное управление/dependency_visualizer"]
	path = 3_semester/Конфигурационное управление/dependency_visualizer
	url = https://github.com/n1kpavlov/dependency_visualizer.git
