[submodule "5_semester/Разработка приложений на языке Котлин/project/Finlytics"]
	path = 5_semester/Разработка приложений на языке Котлин/project/Finlytics
	url = https://github.com/Hohrandrey/Finlytics.git
