<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Добро пожаловать, <span th:text="${username}">Пользователь</span></h1>
    <h2>Конвертер валют</h2>
    <form th:action="@{/home}" method="post">
        <input type="hidden" name="formType" value="convert"/>
        <label>Сумма:</label>
        <input type="number" name="amount" step="0.01" required />
        <br/>
        <label>Из валюты:</label>
        <select name="fromCurrency">
            <option value="RUB" selected>RUB</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        <br/>
        <label>В валюту:</label>
        <select name="toCurrency">
            <option value="RUB">RUB</option>
            <option value="USD" selected>USD</option>
            <option value="EUR">EUR</option>
        </select>
        <br/>
        <button type="submit">Конвертировать</button>
    </form>
    <h3 th:if="${value_1}">Результат конвертации: <span th:text="${value_1}">value_1</span> <span th:text="${currency_1}">currency_1</span> = <span th:text="${value_2}">value_2</span> <span th:text="${currency_2}">currency_2</span></h3>
</body>
</html>