<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Вход</h1>
    <div th:if="${error}" style="color: red;">[[${error}]]</div>
    <form action="#" th:action="@{/login}" method="post">
        <label>Имя пользователя: <input type="text" name="username"/></label>
        <br/>
        <label>Пароль: <input type="password" name="password"/></label>
        <br/>
        <input type="submit" value="Войти" />
    </form>
</body>
</html>